/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


html { 
    background:#4f4f4f url('../img/pattern.png') fixed;
    padding:0;
    margin:0; 
    height:100%;
}

body {
    height:100%;
    overflow:auto;
    font-family: 'Noto Sans', sans-serif;
    color:#444;
    background:fixed transparent;
    /*background:fixed -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background:fixed -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background:fixed -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background:fixed -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background:fixed radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background-attachment: fixed !important;*/
}
br.clear {clear:both;height:0;overflow:hidden}
#page a {
    color:#B33;
    text-decoration:none;
}
#page a:hover {
    color:#E00;
    text-decoration:underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:400;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#000;
}
h1 {font-size:32px}
h1#page-title {
    margin:0 0 0 20px;
    height:33px;
    line-height:33px;
    color:#FEFEFE;
    font-size:22px;
    text-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}
h2 {font-size:26px}
h2.block-title {
    border-bottom:1px solid #BBB;
}
h3 {font-size:22px}
h4 {font-size:18px}
h5 {font-size:16px}
h6 {font-size:14px}

.form-text {margin-bottom:5px}

#zone-header-wrapper .block,
#zone-preface-wrapper .block,
#zone-content-wrapper .block,
#zone-postscript-wrapper .block {
    background:#FFF;
    margin:0 0 20px;
    border:1px solid #999;
    -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 5px 50px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 5px 50px rgba(0, 0, 0, 0.75);
}
#views_slideshow_cycle_main_photo_blog-page .views_slideshow_slide {
    -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 5px 50px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 5px 50px rgba(0, 0, 0, 0.75);
}
#region-sidebar-second .block {
    background:#dedede url('../img/tex2res5.png');
}
#zone-header-wrapper .block-inner,
#zone-preface-wrapper .block-inner,
#zone-content-wrapper .block-inner,
#zone-postscript-wrapper .block-inner {
    margin:20px 20px 10px;
}


div.logo-mobile,
div.logo-img {
    height:58px;
    overflow:hidden;
    margin-left:12px;
    width:282px;
}
div.logo-mobile {margin-bottom:20px;}
div.logo-mobile a {
    background:url('../img/logo-default.png') no-repeat -282px 0;
    display:block;
    clear:both;
    height:58px;
    width:506px;
    position:relative;
}
div.logo-img a {
    display:block;
    height:58px;
    width:506px;
    position:relative;
}
div.logo-img a.default {
    background:url('../img/logo-default.png') no-repeat 0 0;
}
div.logo-img a#logo-hover,
div.logo-img a#logo-hover.hover {
    background:url('../img/logo-hover.png') no-repeat 0 0;
    top:-58px;
    left:-506px;
    opacity:0;
}
div.logo-img a#logo-hover.hover:hover {
    opacity:1;
}

.front .views-field-field-image img {
    width:100%;
    height:auto;
}

#region-menu .block-superfish {
    color:#FFF;
    background:rgba(0,0,0,1);
    margin-bottom:20px;
}
#region-menu ul {
    padding:3px 0;
    margin-left:5px;
}
#region-menu ul,
#region-menu li {
    padding:0;
}
#region-menu li a {
    line-height:20px;
    color:#FEFEFE;
    text-decoration:none;
    display:inline-block;
    padding:3px 10px;
}
#region-menu li a:hover {
    color:#E00;
    text-decoration:none;
}
#region-menu ul li ul {
    padding:0;
    left:-17px!important;
}
#region-menu ul li ul li {
    padding:0;
    margin:0;
}
#region-menu ul li ul li a {
    display:block;
    padding:0 22px;
    line-height:25px;
    background:#000;
}
#region-menu ul li ul li a:hover {
    background:#191919;
}
.view-tweets ul li {
    margin:5px 0 0;
    padding:0 0 5px;
    border-bottom:1px dotted #CCC;
}
.view-tweets ul li.views-row-last {
    border:none;
}
#block-views-tweets-block .view-footer {font-weight:700}

#cboxLoadedContent {
    text-align:center;
}
#cboxLoadedContent img {
    max-height:90%;
    max-width:100%;
    height:auto;
    width:auto;
} 

.views-field-colorbox .field-content img {
    margin:10px;
    width:27%;
    height:auto;
    float:left;
}

#zone-footer {
    padding-top:20px;
    color:#000;
}

.webform-container-inline label {
    display:inline-block;
    width:200px;
    text-align:right;
}